*{

margin:0;

padding:0;

box-sizing:border-box;

touch-action:none;

user-select:none;

font-family:Arial;

}

body{

background:#1d1f22;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

#container{

width:90%;

max-width:900px;

padding:30px;

background:#2c3035;

border-radius:20px;

box-shadow:0 0 30px black;

}

h1{

text-align:center;

margin-bottom:30px;

}

#main{

display:flex;

justify-content:space-between;

align-items:center;

}

#left{

flex:1;

display:flex;

justify-content:center;

}

#right{

width:120px;

display:flex;

flex-direction:column;

align-items:center;

gap:20px;

}

button{

width:70px;

height:70px;

font-size:32px;

border:none;

border-radius:50%;

background:#1976D2;

color:white;

cursor:pointer;

}

button:hover{

background:#0D47A1;

}

#speedValue{

font-size:26px;

font-weight:bold;

}

#joystick{

width:250px;

height:250px;

border-radius:50%;

background:#444;

position:relative;

border:6px solid #666;

overflow:hidden;

}

#stick{

width:80px;

height:80px;

background:#03A9F4;

border-radius:50%;

position:absolute;

left:85px;

top:85px;

transition:0.03s;

}

#info{

margin-top:30px;

text-align:center;

font-size:22px;

display:flex;

justify-content:space-around;

}